.mg-0{
    margin: 0 auto;
}
body{
    background-color: black;
    font-family: "Doto", sans-serif;
}
li{
    list-style: none;
    color: white;
}
a{
    text-decoration: none;
    color: inherit;
}
li:hover{
    color: blue;
}